.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid-item {
  display: block;
  width: 100%;
  height: auto !important;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  border-radius: 0.5rem;
}
.grid-item:hover {
  transform: scale(1.02);
}
